
.projects-bg {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card-container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 136px; /*button offset*/
  transition: margin-left 700ms var(--my-cubic-bezier);
}

.project-card-container-freeze-animation {
  transition: none;
}
