

.sidebar-and-main-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.project-sidebar {
  height: 100%;
  width: 248px;
  background-color: rgba(0,0,0,.57); /*var(--nav-bar-bg);*/
  box-sizing: border-box;

  overflow-x: hidden;

  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-link {
  padding: 8px 0;
  color: var(--font-color);
  font-weight: 300;
  font-size: 18px;
}

.sidebar-link:hover {
  cursor: default;
}

.project-main {
  height: 100%;
  flex: auto;

  display: flex;
  flex-direction: column;
  padding-top: 14px;
  box-sizing: border-box;
}

.project-page-appear {
  opacity: 0;
}

.project-page-appear-active {
  opacity: 1;
  transition: opacity 1000ms var(--my-cubic-bezier);
}
