
.project-card-container {
  flex: auto;
  display: flex;
  align-items: center;
  gap: 25px;
/*
  min-width: 100%;
  justify-content: center;
*/
  transition: margin-left 700ms var(--my-cubic-bezier);
}

.project-card-container-freeze-animation {
  transition: none;
}

.project-card-container-form-active:hover {
  cursor: pointer;
}

