
.project-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: var(--border-radius);
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid black;
  transition: width 700ms var(--my-cubic-bezier),
              height 700ms var(--my-cubic-bezier);

  font-size: 20px;
  font-weight: 300;
  color: var(--font-color);
  background-color: var(--nav-bar-bg);

  user-select: none;
  transition: border 500ms var(--my-cubic-bezier),
              width 700ms var(--my-cubic-bezier),
              height 700ms var(--my-cubic-bezier);
}


.card-and-controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.project-selected {
  border: 1px solid cyan;
  transition: border 500ms var(--my-cubic-bezier),
              width 700ms var(--my-cubic-bezier),
              height 700ms var(--my-cubic-bezier);
}

.project-error-message {
  padding: 12px 18px;
  border-radius: 6px;
  position: absolute;
  bottom: 44%;
  background-color: var(--nav-bar-bg);
  color: var(--error-color);
}

.buttons-offset {
  margin-top: 113px;
}

.project-card:hover {
  cursor: pointer;
}

/* for edit or create forms */
.project-card-active {
  width: 760px;
  height: 120px;
  
  box-sizing: border-box;
  /* ADD CANCELLATION OF WHATEVER SELECTED IS ?*/
}

.card-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-input {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.card-input:focus {
  min-width: 100%;
}

.project-card-active:hover {
  cursor: default;
}

/* standard project cards */
.project-card-appear {
  opacity: 0;
}

.project-card-appear-active {
  opacity: 1;
  transition: opacity 500ms var(--my-cubic-bezier) /*ease-in;*/
}

.project-card-enter {
  opacity: 0;
}

.project-card-enter-active {
  opacity: 1;
  transition: opacity 500ms var(--my-cubic-bezier) /*ease-in;*/
}

.project-card-exit {
  opacity: 1 ;
}

.project-card-exit-active {
  opacity: 0;
  transition: opacity 500ms var(--my-cubic-bezier);/*ease-in;*/
}

.project-card-exit-active:hover {
  cursor: default;
}

.project-card-exit-done {
  opacity: 0;
}

.project-card-exit-done:hover {
  cursor: default;
}

/* Executed project card goes up */
.selected-project-exit {
  bottom: 0px;
  opacity: 1;
  height: 200px;
}

.selected-project-exit-active {
  bottom: 100vh;
  opacity: 0;
  transition: bottom 300ms cubic-bezier(1,0.05,.9,0),
              opacity 400ms ease-in;
}

/* fixes new project popup bug */
.new-project-card {
  opacity: 0;
}


/* BUTTONS */

.project-card-buttons-container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


/* buttons div entrance / exit classes */
.project-control-buttons-enter {
  opacity: 0;
}

.project-control-buttons-enter-active {
  opacity: 1;
  transition: opacity 500ms var(--my-cubic-bezier) /*ease-in;*/
}

.project-control-buttons-enter-active > button:hover {
  cursor: pointer;
}

.project-control-buttons-enter-done {
  opacity: 1;
}

.project-control-buttons-enter-done > button:hover {
  cursor: pointer;
}

.project-control-buttons-exit {
  opacity: 1;
}

.project-control-buttons-exit-active {
  opacity: 0;
  transition: opacity 500ms var(--my-cubic-bezier);/*ease-in;*/
}

.project-control-buttons-exit-done {
  opacity: 0;
}



