.sidebar-and-main-container {
  display: flex;
  height: calc(100% - 55px);
  width: 100%;
}

.project-sidebar {
  height: 100%;
  width: 248px;
  background-color: rgba(0,0,0,.57); /*var(--nav-bar-bg);*/
  box-sizing: border-box;

  overflow-x: hidden;

  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar-links-label {
  color: var(--font-color);
  font-weight: 300;
  font-size: 24px;
  border-bottom: 1px solid var(--font-color);
  padding: 4px 0px;
  margin: 10px 0px;
}

#sidebar-links-label:hover {
  cursor: default;
}

.sidebar-link {
  padding: 10px 0;
  color: var(--font-color);
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
}

.sidebar-link:hover {
  cursor: pointer;
}

#export-button {
  font-size: 30px; 
  width: 100%;
}

.project-main {
  height: 100%;
  flex: auto;
  scroll-behavior: smooth;

  display: flex;
  position: relative;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 14px;
  box-sizing: border-box;
}

.copy-button {
  padding: 14px;
  height: 75px;
  width: 106px;
}

.project-page-appear {
  opacity: 0;
}

.project-page-appear-active {
  opacity: 1;
  transition: opacity 1000ms var(--my-cubic-bezier);
}
