
.project-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 25px;
  border: 1px solid black;
  transition: width .7s cubic-bezier(0.22, 1, 0.36, 1),
              height .7s cubic-bezier(0.22, 1, 0.36, 1);

  font-size: 20px;
  font-weight: 300;
  color: var(--font-color);
  background-color: var(--nav-bar-bg);
}

.project-card-active {
  width: 800px;
  height: 120px;
}

.project-card:hover {
  cursor: pointer;
}

.project-card-enter {
  opacity: 0;
}

.project-card-enter-active {
  opacity: 1;
  color: red;
  transition: opacity 200ms;
}

.project-card-exit {
  bottom: 0px;
}

.project-card-exit-active {
  bottom: 200vh;
  transition: bottom 500ms cubic-bezier(1,0,1,0);
}
