
.projects-bg {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card-container {
  flex: auto;
  display: flex;
  align-items: center;
  gap: 25px;
/*
  min-width: 100%;
  justify-content: center;
*/
  transition: margin-left 700ms var(--my-cubic-bezier);
}

.project-card-container-freeze-animation {
  transition: none;
}
