/* site-wide styles */

html {
 height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to right bottom, #00ffff, #00dcff, #00b6ff, #008cff, #005be0, #0145d2, #122cc3, #2003b2, #2f05bd, #3d08c9, #4a0cd4, #560fe0);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato, sans-serif; 
  overflow-x: hidden;

  --global-blur: blur(5px);
  --nav-bar-bg: rgba(0,0,0,.5);
  --dark-bg: rgba(0,0,0,.8);
  --font-color: rgb(233,233,233);
  --border-radius: 25px;
  --my-cubic-bezier: cubic-bezier(0.22,1,.36,1);
  --error-color: #FF00EE;
}

input {
  -webkit-appearance: none;
  appearance: none;
  font-family: Lato, sans-serif;
  width: 100%;
  padding: 12px 0;
  margin: 0 14px;
  font-size: 18px;
  font-weight: 300;
  background-color: var(--nav-bar-bg);
  border-radius: 12px;
  border: 1px solid black;
  color: var(--font-color);
  text-align: center;
}

input:focus {
  outline: 1px solid cyan;
}
